<div *ngIf="router">
  <table class="responstable" *ngFor="let servicelist of router.domain">
    <thead>
      <tr>
        <th>
          {{servicelist.serviceName}}
        </th>
      </tr>
      <tr>
        <td>Service_Id</td>
        <td>Service_URL</td>
        <td>Service_Port</td>
        <td>Service Erreichbar ?</td>
        <td>Service aus Gateway löschen</td>
        <td>Service Erreichbarkeit testen</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let serviceinstance of servicelist.serviceInstances">
        <td>{{serviceinstance.serviceId}}</td>
        <td>{{serviceinstance.serviceUrl}}</td>
        <td>{{serviceinstance.servicePort}}</td>
        <td>{{serviceinstance.available}}</td>
        <td>
          <button (click)="onDelete(servicelist.serviceName,serviceinstance)">Delete</button>
        </td>
        <td>
          <button (click)="testServiceInstance(servicelist.serviceName,serviceinstance)">Test</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>