.theorie_phase {
			font-family : Arial, Verdana;
			color : #ffffff;
			background-color :#848484;
}

.praxis_phase {
			font-family : Arial, Verdana;
			color : #ffffff;
			background-color :#2E64FE;
}
